.editForm--container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.editForm {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    width: 320px;
    min-width: 320px;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}

#dateFrom, #dateTo, #submit {
    margin-top: 5px;
}

.form--submit {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#return {
    height: 30px;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.3s;
}

#return:hover {
    background-color: rgb(49, 78, 143);
    color: white;
    cursor: pointer;
}